@charset "UTF-8";

/*VERSÃO DESKTOP*/

/*CONFIGURAÇÃO GERAL*/

@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');


/*VARIÁVEIS PADRÕES*/

:root {
    --fontepadrao: "Varela", sans-serif;
    --corpadrao001: #1B2CC1;
    --corpadrao002: #058ED9;
    --corpadrao003: #00A7E1;
    --corpadrao004: #34E5FF;
    --corpadrao005: #FFFFFF;
    --corpadrao006: #222222;
    --corpadrao007: #0a0a0a;
    --fundo-cards: linear-gradient(to bottom, #000f911f, #000e9162, #000f911f); /*background-image*/
    --fundo-blur: rgba(0, 0, 0, 0.5);
    --box-shado001: 0px 0px 20px rgba(0, 0, 0, 0.60);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fontepadrao);
}

/*BACKGROUND GERAL*/

html, body {
    height: 100dvh;
    width: 100dvw;
    background-color: white;
}

@media screen and (min-width: 641px) {

    /*BACKGROUND*/
    html, body {
        background-image: url(../imagens/wallpaper-fundo002.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*CONTAINER PRINCIPAL*/
    div.container {
        width: 90vw;
        max-width: 400px;
        height: 90vh;
        padding: 30px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: stretch;
        color: var(--corpadrao005);
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        box-shadow: var(--box-shado001);
    }

    div.container002 {
        height: 500px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: stretch;
    }

    /*LOGO DEVNEST*/
    div.titulos {
        text-align: center;
        font-weight: bolder;
    }

    #titulo01 {
        padding-right: 57px;
        font-size: 2em;
        text-shadow: var(--box-shado001);
    }

    #titulo02 {
        text-align: center;
        font-size: 3em;
        color: var(--corpadrao002);
        text-shadow: var(--box-shado001);
    }

    /*SAUDAÇÃO*/
    div.saudacao {
        text-align: left;
        font-size: 1em;
    }

    /*INPUT DADOS*/
    form {
        display: flex;
        justify-content: center;
    }

    input#inome {
        width: 100%;
        height: 40px;
        padding: 10px;
        outline: none;
        border: none;
        border-radius: 10px;
        font-size: 1em;
        box-shadow: var(--box-shado001);
        background-color: var(--corpadrao006);
        color: white;
    }

    input#inome:focus {
        background-color: white;
        color: black;
        transition: 0.4s;
    }

    /*BOTÃO ENTRAR*/
    #btnEntrar {
        width: 100%;
        height: 56px;
        padding: 10px;
        outline: none;
        border: none;
        border-radius: 10px;
        box-shadow: var(--box-shado001);
        font-size: 1.1em;    
        background-color: var(--corpadrao001);
        color: white;
        cursor: pointer;
        transition: 0.4s;
    }

    #btnEntrar:hover {
        background-color: var(--corpadrao002);
        transition: 0.4s;
    }

    #btnEntrar:active {
        background-color: var(--corpadrao006);
        color: white;
        transition: 0.1s;
    }

    /*OU*/
    #iou {
        font-size: 1em;
        text-align: center;
    }

    /*ACESSO ANÔNIMO*/
    div#containerAnonimo {
        height: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #acessAnonimo {
        width: 200px;
        color: var(--corpadrao005);
        text-align: center;
        text-decoration: none;
        border: 1px solid var(--corpadrao001);
        border-radius: 10px;
        box-shadow: var(--box-shado001);
        transition: 0.4s;
    }

    #acessAnonimo:hover {
        background-color: var(--corpadrao001);
        color: white;
        transition: 0.4s;
    }

    #acessAnonimo:active {
        background-color: var(--corpadrao006);
        color: white;
        transition: 0.1s;
    }
}