@charset "UTF-8";

/*VERSÃO DESKTOP*/

/*PÁGINA INICIAL*/

/*CONFIGURAÇÃO GERAL*/

@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');


/*VARIÁVEIS PADRÕES*/

:root {
    --fontepadrao: "Varela", sans-serif;
    --corpadrao001: #1B2CC1;
    --corpadrao002: #058ED9;
    --corpadrao003: #00A7E1;
    --corpadrao004: #34E5FF;
    --corpadrao005: #FFFFFF;
    --corpadrao006: #222222;
    --corpadrao007: #0a0a0a;
    --fundo-cards: linear-gradient(to bottom, #000f911f, #000e9162, #000f911f); /*background-image*/
    --fundo-blur: rgba(0, 0, 0, 0.658);
    --box-shado001: 0px 0px 20px rgba(0, 0, 0, 0.60);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fontepadrao);
}

/*BACKGROUND GERAL*/

html, body {
    height: 100dvh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
}

@media screen and (min-width: 1183px) {

    /*BACKGROUND*/
    html, body {
        background-image: url(../imagens/wallpaper-fundo002.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-flow: column nowrap;
    }

    /*CABEÇALHO*/
    header {
        min-height: 90px;
    }

    header div.cabecalho {
        height: 50px;
        width: 97%;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.815);
        backdrop-filter: blur(10px);
        box-shadow: var(--box-shado001);
        position: fixed;
    }

    header div.cabecalho a {
        height: 20px;
        text-decoration: none;
        cursor: pointer;
    }

    #logo01 {
        margin-left: 10px;
        font-size: 1.5em;
        color: white;
        text-shadow: var(--box-shado001);
    }

    #logo02 {
        font-size: 2em;
        color: var(--corpadrao002);
        text-shadow: var(--box-shado001);
    }

    /*CABEÇALHO > MENUS*/
    nav.menus {
        width: 700px;
        display: flex;
        justify-content: space-between;
    }

    nav.menus a {
        padding: 10px;
        outline: none;
        color: white;
        border-radius: 10px;
        text-align: center;
        transition: 0.4s;
    }

    nav.menus a p {
        text-shadow: 0px 0px 10px black;
    }

    nav.menus a:hover {
        background-color: var(--corpadrao002);
        font-weight: bold;
        text-shadow: var(--box-shado001);
        box-shadow: var(--box-shado001);
        transition: 0.4s;
    }

    .btnNav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .btnNav span {
        margin-right: 5px;
    }

    nav.menus a#btnAcessarConta {
        background-color: var(--corpadrao001);
        text-shadow: var(--box-shado001);
        box-shadow: var(--box-shado001);
        transition: 0.4s;
    }

    nav.menus a#btnAcessarConta:hover {
        background-color: var(--corpadrao002);
        transition: 0.4s;
    }

    /*CONTEÚDO PRINCIPAL*/
    main {
        max-width: 100%;
        display: flex;
        flex-flow: column nowrap;
    }

    /*CONTEÚDO SLOGAN*/
    main section.slogan {
        min-height: 80vh;
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.719);
    }

    div.slogan {
        height: 300px;
        max-width: 500px;
        background-color: white;
    }

    section.slogan p {
        font-size: 3em;
        text-align: center;
    }

    main article.sobreslogan {
        width: 800px;
        padding: 50px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    main article.sobreslogan > #logo01 {
        margin-right: 70px;
        font-size: 3em;
    }

    main article.sobreslogan > #logo02 {
        font-size: 4em;
    }

    main section.slogan p {
        font-size: 3em;
        text-align: center;
        text-shadow: var(--box-shado001);
        font-weight: bolder;
        color: white;
    }

    /*CONTEÚDO SERVIÇOS*/
    main section.sobreservicos {
        min-height: 580px;
        max-width: 100%;
        padding: 40px;
        background-color: black;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    main article.infoservicos {
        height: 100%;
        width: 500px;
        padding: 20px;
        border-radius: 10px;
        background-color: black;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    main article.infoservicos h1 {
        font-size: 2em;
        color: var(--corpadrao001);
        text-align: center;
    }

    main article.infoservicos p {
        color: white;
        font-size: 1.3em;
        text-align: left;
        text-indent: 1em;
    }

    /*CONTEÚDO SERVIÇOS > CARDS*/
    main section.cards {
        width: 500px;
        padding: 20px;
        background-color: black;
        border-radius: 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }

    .containercard {
        height: 254px;
        width: 200px;
        background-image: var(--fundo-cards);
        border-radius: 10px;
        transition: 0.4s;
    }

    .containercard:hover {
        box-shadow: 0px 0px 10px var(--corpadrao001);
        transition: 0.4s;
    }
    
    .containericoncard {
        height: 150px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #iconcard-html {
        font-size: 6em;
        color: var(--corpadrao001);
        text-align: center;
    }

    #css {
        font-size: 6em;
        color: var(--corpadrao001);
        text-align: center;
    }

    #js {
        font-size: 6em;
        color: var(--corpadrao001);
        text-align: center;
    }

    #py {
        font-size: 6em;
        color: var(--corpadrao001);
        text-align: center;
    }

    .containercard p {
        padding: 10px;
        color: white;
        text-align: center;
    }

    /*CONTEÚDO TREINAMENTO*/
    main section.sobretreinamento {
        height: 600px;
        background-image: linear-gradient(to bottom, black, #080d38);
        color: white;
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: space-evenly;
    }

    section.sobretreinamento article.infotreinamento {
        width: 500px;
        padding: 20px;
        border-radius: 10px;
        background-color: transparent;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    section.sobretreinamento article.infotreinamento h1 {
        font-size: 2em;
        color: var(--corpadrao001);
        text-align: center;
    }

    section.sobretreinamento article.infotreinamento p {
        color: white;
        font-size: 1.3em;
        text-align: left;
        text-indent: 1em;
    }

    /*CARDS TREINAMENTO*/
    main section.cards002 {
        width: 500px;
        padding: 20px;
        background-color: transparent;
        border-radius: 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }

    /*CONTEÚDO FINAL*/

    section.final {
        height: max-content;
        padding: 20px;
        color: white;
        background-image: linear-gradient(to bottom, #080d38, black);
    }

    section.final p {
        width: 500px;
        padding: 20px;
        margin: auto;
        font-size: 1em;
        background-image: var(--fundo-cards);
        border-radius: 10px;
    }

    section.final p a {
        color: var(--corpadrao002);
        text-decoration: none;
        transition: 0.4s;
    }

    section.final p a:hover {
        color: white;
        text-decoration: underline;
        transition: 0.4s;
    }

    /*RODAPÉ*/
    footer aside {
        height: 15px;
        padding: 20px;
        background-color: black;
        color: white;
        text-align: center;
    }
}